/* Subscription page style is begin */
a {
	text-decoration:underline;
}
a:hover {
	text-decoration:none;
	color:#a5a5a5;
}
div.content {
	color:#4c4c4c;
	line-height:18px;
	font-size:12px;
	font-family:verdana;
}
.js .hide,.hidden-info {
	display:none;
}
body.subscription {
	overflow: hidden;
}
/** Flash message */
.message {
	z-index:10000;
	width:100%;
	font-weight:bold;
	overflow:hidden;
	font-size:13px;
	text-align:left;
}
div.flash-message-inner {
	padding:20px 50px 20px 70px;
	position:relative;
}
span.flash-close {
	background:url(../img/common-sprite.png) no-repeat scroll left -2084px;
	display:block;
	position:absolute;
	right:3px;
	text-indent:-3000em;
	top:8px;
	width:32px;
	height:32px;
	cursor:pointer;
}
#successMessage,.success {
	background:#eff;
	border:1px solid #6f0;
}
#flashMessage {
	background:#ffe;
	border:1px solid #f60;
}
#errorMessage,#authMessage,#successMessage,#flashMessage {
	padding:20px 0 23px 63px;
	height:7px;
}
#errorMessage,#authMessage {
	background:url("../img/common-sprite.png") no-repeat scroll 10px -2678px #FFEBF3;
	border:1px solid #FF1F1F;
}
#successMessage {
	background:#eff url(../img/common-sprite.png) no-repeat 10px -1687px;
}
#flashMessage {
	background:#ffe url(../img/common-sprite.png) no-repeat 10px -5625px;
}
.notice {
	background:url("../img/common-sprite.png") no-repeat scroll 2px -3084px transparent;
	color:red;
	padding:2px 2px 2px 25px;
}
table.list tr td.notice {
	padding-left: 25px;
}
/* form style is begin */
form.normal {
	width:98%;
	padding:10px;
}
form.normal div.input {
	padding:5px;
	margin:5px;
}
form.normal div.select select,form.normal div.text input {
	font-size:13px;
	padding:9px 2px 9px 5px;
	border:1px solid #dbdbdb;
	font-family:verdana;
	background:#fff url(../img/input-shadow.png) repeat-x left bottom;
}
ul.coupon-code li input:hover,form.normal div.select select:hover,form.normal div.text input:hover,form.normal div.select select:active,form.normal div.text input:focus,form.normal div.select select:focus,form.normal div.text input:active {
	border:1px solid #39c8d8;
	background:#fff url(../img/input-shadow-top.png) repeat-x left top;
}
form.normal div.select select {
	padding:4px;
	width:311px;
	height:37px;
	padding:5px 0px;
}
form.normal div.submit input {
	background: url("../img/common-sprite.png") no-repeat right -8586px;
	font-family:Arial, "Helvetica Neue", Helvetica, sans-serif;
	cursor:pointer;
	font-size:14px;
	width:auto;
	color: #1C1C1C;
	border:0px;
	height: 38px;
	padding: 0 12px 0 4px;
	font-weight:bold;
}
form.normal div.submit,form.search-form div.submit,form.affliates-form div.submit {
	background: url("../img/common-sprite.png") no-repeat left -8500px;
	float: left;
	height: 38px;
	padding: 0 0 0 8px;
}
form.normal div.submit:hover {
	background: url("../img/common-sprite.png") no-repeat left -8462px;
}
form.normal div.submit input:hover {
	color:#000;
	background: url("../img/common-sprite.png") no-repeat right -8548px;
}
div.subscription-content {
	width:995px;
	margin:0px auto;
}
div.step-content-info {
	background:#fff;
	width:450px;
	background:#fff;
	padding:20px 20px 15px;
	-moz-box-shadow:3px 4px 2px #BABCBC;
	-moz-border-shadow:3px 4px 2px #BABCBC;
	-khtml-border-shadow:3px 4px 2px #BABCBC;
	-o-border-shadow:3px 4px 2px #BABCBC;
	  border: 1px solid #DDDDDD;

}
form.form {
	height:500px;
	margin:0px auto 0px auto;
	overflow:hidden;
	position:relative;
	width:98%;
}
div#agriya {
	margin:0px auto;
	padding:0px;
}
form.normal div.js-step_one div.select label,form.normal div.step-one div.text label {
	position:static;
	display:block;
	padding:21px 0 30px 66px;
	font-size:20px;
	width:auto;
	font-weight:bold;
	background:url("../img/user-sprite.png") no-repeat left -9881px;
	color:#000;
}
form.normal div.js-step_one div.select label {
	background:url("../img/user-sprite.png") no-repeat scroll left -9791px transparent;
	padding:23px 0 21px 73px;
}
form.normal div.step-one div.select select,form.normal div.step-one div.text input {
	margin:0px 0 10px 67px;
	width:311px;
}
ul.sign-in li {
	background:url("../img/user-sprite.png") no-repeat scroll 0 -2514px transparent;
	display:inline;
	padding:0 0 0 18px;
}
ul.sign-in li a {
	font-size:12px;
}
ul.sign-in li:first-child {
	background:none;
	padding:0px;
}
form.normal div.step-one div.submit {
	float:right;
	margin:5px 0px;
	padding:0px 0px 0px 8px;
}
div.js-step_one div.step-content-info div.input, div.js-step_two div.step-content-info div.input {
	padding:0px 0px 20px 0px;
}
div.step-content-info div.input {
	border-bottom:1px solid #ddd;
	margin:0px 0px 10px 0px;
	padding:0px 0px 40px 0px;
}
div.step-one h2 {
	color:#00B5C8;
	background:url("../img/user-sprite.png") no-repeat left -9881px;
	padding:23px 0 21px 73px;
	font-size:20px;
}
form.normal div.js-step_two div.select {
	margin:10px 0 10px 76px;
}
form#homeSubscriptionFrom div.step-one div.error-message {
	background:url("../img/common-sprite.png") no-repeat scroll -9px -7913px transparent;
	color:red;
	font-size:12px;
	margin:5px 0 0 67px;
	padding: 0 0 0 22px;
}
/*Background image to be auto-resized to window... */
#bg-stretch-autoresize,#bg-stretch,#bg-repeat {
	height:100%;
	left:0;
	overflow:hidden;
	position:fixed;
	top:0;
	width:100%;
	z-index:-1;
}
#bg-stretch img {
	height:100% !important;
	width:100% !important;
}
#bg-repeat img {
	display:none;
}
.round-10 {
	-moz-border-radius:10px;
	-khtml-border-radius:10px;
	-o-border-radius:10px;
	border-radius: 10px;
}
/* footer style is begin */
#footer {
	background:#353535;
	bottom:0;
	font-size:12px;
	left:0;
	position:absolute;
	width:100%;
	z-index:-1;
	height:40px;
}
p {
	float:left;
	margin:5px 6px 0 5px;
	padding:0px 0px 5px 0px;
}
p.cssilize {
	margin:0px 6px 0px 5px;
}
.footer-wrapper-inner {
	margin:0 auto;
	width:990px;
	padding:5px 0px;
}
body.subscription div#main {
	margin:0 auto;
	overflow:hidden !important;
	position:relative;
	width:100%;
}
body.subscription p,a {
	color:#a5a5a5;
}
body.subscription p.email_never_share {
	font-size:11px;
	padding:0px 0px 10px 68px;
	float:none;
}
#agriya p.copy a:hover {
	color:#00b5c8;
}
#agriya p.powered {
	width:300px;
	margin:7px auto;
	float:left;
}
#agriya p.powered span {
	float:left;
}
#agriya a.powered {
	background:url("../img/powered-by-groupdeal.png") no-repeat 0 0;
	float:left;
	height:17px;
	text-indent:-9999em;
	width:85px;
}
#agriya a.company {
	background:url("../img/powered-by-agriya.png") no-repeat 0 0;
	float:left;
	height:15px;
	margin:0 5px;
	text-indent:-9999em;
	width:80px;
}
#agriya a.cssilize {
	background:url("../img/cssilize.png") no-repeat 0 0;
	height:18px;
	text-indent:-9999em;
	width:118px;
	margin:0 auto;
	position:relative;
	left:5px;
	top:7px;
	float: left;
}
/** Clearfix styles*/
.clearfix:after {
	clear:both;
	content:'.';
	display:block;
	visibility:hidden;
	height:0;
}
.clearfix {
	display:block;
}

* html .clearfix {
	height:1%;
}
*+html .clearfix {
	display: inline-block;
}